
.hero{
    height: calc(100vh - 90px);
    max-width: 1500px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;

}
.hero__content_container{
     width: 100%;
    font-family: inherit; 
}
.hero__left_container__content{
    display: flex;
    align-items: center; 
    margin-top: 100px;
}                        
.hero__left__content{
    flex: 1;
    margin: 0 90px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.hero__left__content_active{
    width: fit-content;
padding: 15px 50px;
height: auto;
display: flex;
align-items: center;
position: relative;
background-color: rgba(46, 46, 46, 0.2);
border-radius: 100px;
border: 2px solid var(--surface-color);
}
.hero__left__content_active_dot{
    width: 15px;
    height: 15px;
    background-color: var(--success-color);
    position: absolute;
    left: 0;
    border-radius: 100%;
    margin-left: 25px;
}
.hero__left__content_active p{
font-size: 1.3rem;
margin-right: -25px;
margin-bottom: 0;
    margin-top: 0;
}
.hero__left__content_1 h1{
font-size: 3.2rem;
font-weight: 800;
line-height:1.5rem;
}
.hero__left__content_1_span{
color: var(--accent-color);
}
.hero__left__content_1_subtext{
    margin-top: -45px;
    width: 500px;
    font-size: 1.5rem;
    color: var(--muted-text-color);
}
.hero__left__content_1_buttons{
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-between;
}
.hero__left__content_1_buttons button{
    font-size: 1.3rem;
    margin: 30px 0 ;
    width: 180px;
    height: 65px;
    cursor: pointer;
    border-radius: 5px;
    transition: ease-in-out 0.5s;
}
.hero__left__content_1_buttons_button1{
    background-color: var(--accent-color);
    outline: none;
    color: var(--surface-color);
    border: 2px solid var(--bg-color);
}
.hero__left__content_1_buttons_button2{
    background-color: var(--bg-color);
    outline: none;
    color: var(--text-color);
    border: 2px solid var(--accent-color);
    margin-right: -20px;
}

.hero__left__content_1_buttons_button2:hover{
    background-color: var(--accent-color);
    outline: none;
    color: var(--surface-color);
    border: 2px solid var(--bg-color);
}
.hero__left__content_1_buttons_button1:hover{
    background-color: var(--bg-color);
    outline: none;
    color: var(--text-color);
    border: 2px solid var(--accent-color);
    margin-right: -20px;
}
.hero__left_image{
    display: flex;
    width: 60%;
    align-items: self-start;
    margin: 180px 0;
}
.hero__left_image_conatiner{
    width: 350px;
    height: 350px;
  
}
.hero__left_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 100%;
}

/* Left content */