@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0e0e0e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* variable colors */
  --bg-color: #0e0e0e;
  --surface-color: #2e2e2e;
  --primary-color: #00adb5;
  --accent-color: #f8b500;
  --text-color: #eaeaea;
  --muted-text-color: #b0b0b0;
  --success-color: #3ebe5e;
  --error-color: #ff4f5a;
  box-sizing: border-box;
  scroll-snap-type: none;
  overflow: auto;
  scrollbar-width: none;
  font-size: 1.2rem;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #f8b600;
  border-radius: 10px;
}

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #f8b600 transparent;
}
